        <footer>
            <p>Made by: <a>Braz Amorim</a></p>
            <p>200x</p>            
        </footer>
        <!--<script src="../post-handler.js"></script>-->
    </body>
</html>
<!--/Footer-->