<!--Header-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Generic Blog</title>
    </head>
    <body>
        <header>
            <a href="/"><img alt="Generic Blog logo" src="/images/logo.png" width="100px" height="100px"></a>
            <p>Generic Blog</p>
        </header>
