<%- include('./partials/header.ejs') %>
        <!--/Header-->
        <main>
            <div><a href="/games">Games</a></div>
            <div><a href="/esports">Esports</a></div>
            <div><a href="/trips">Trips</a></div>
        </main>
        <!--Footer-->
<%- include("./partials/footer.ejs") %>

